{{!-- choose layouts --}}
{{#extends 'base'}}

{{!-- choose block to add in new content --}}
{{#block 'content'}}
    <div>
        <h1>This website has no purpose</h1>
    </div>
{{/block}}

{{/extends}}